<h3>Welcome to our gym</h3>
<h5>Marko Markovic najjaci na svetu</h5>
<p>Ako budete vredno trenirali bicete pravi tigar</p>
<hr><br>
Izaberi svoj danasnji program vezbanja:

{% for p in programi %}
    <a href="?program={{ p.id }}">
        {% if idprograma == p.id %}
            <div style="border:1px solid gray; padding:4px;margin:4px;background-color: aqua;">{{ p.naziv }}</div>
        {% endif %}
        {% if idprograma != p.id %}
            <div style="border:1px solid gray; padding:4px;margin:4px">{{ p.naziv }}</div>
        {% endif %}
    </a>
{% endfor %}

<h4>Vezbe za odabrani program</h4>
<ul>
{% for v in vezbe %}
    <li><a href='detalji/{{ v.id }}'>{{ v.naziv }}</a></li>
{% endfor %}
</ul>
<br>
{% if user.is_authenticated %}
    <a href='/odabir/{{ idprograma }}'><strong>Odaberi ovaj program...</strong></a>
{% endif %}